body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 50px;
}
.banner{
    display: flex;
}
.half-width{
    width: 50%;
    margin: 90px;
}
.half-width img{
    width: 60%;
}
.about{
    background-image: s;
}