*{
    margin: 0;
}
body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 50px;
}
.banner{
    display: flex;
}
.half-width{
    width: 50%;
    margin: 90px;
}
.half-width img{
    width: 300px;
}
.about{
    background-image: url(picture/7.png);
    background-repeat: no-repeat;
}
#sec3 {
    margin-top: 100px;
}
#sec3 h2 {
    text-align: center;
    color: #575757;
    margin-bottom: 40px;
}
#sec3-p {
    margin: 0px auto 25px;
    width: 50%;
    text-align: center;
}
#food-items {
    display: flex;
    margin: 0px 75px;
}
.food-items-box {
    padding: 20px;
    border-radius: 40px;
    margin: 20px;
    box-shadow: 1px 1px 25px rgb(204, 204, 204);
}
.food-items-box img {
    width: 375px;
}
.food-items-box h3 {
    margin: 25px 0px 15px;
    font-weight: 900;
}
.food-items-box p {
    margin-bottom: 25px;
    font-size: 21px;
    color: #575757;
}